<%= render 'shared/vertical_menu' %>

<div class="category-wrapper">
  <div class="category-header">Service Management</div>

  <div class="category-list">
    <%= link_to "Services", main_services_path, class: "category-item" %>
    <%= link_to "Preparations", preparations_services_path, class: "category-item" %>
    <%= link_to "Care Products", care_products_services_path, class: "category-item" %>
  </div>
</div>
