<%= render 'shared/vertical_menu' %>

<div class="admin-dashboard">
  <h1><%= t("services.pages.categories") %></h1>

  <% @categories.each do |category| %>
    <% key = category.to_s.downcase %>
    <%= link_to t("services.categories.#{key}", default: category),
                section_services_path(category: category),
                class: "admin-card" %>
  <% end %>

  <%= link_to t("services.pages.new_service"),
              new_service_path(service_type: "service"),
              class: "category-item category-new" %>
</div>
