<div class="services-list" data-controller="service">

  <%= hidden_field_tag "service_note[service_type]", "", data: { service_target: "type" } %>

  <!-- SELECTED -->
  <div class="selected-services" data-service-target="selected"></div>

  <!-- ➕ BUTTON -->
  <button type="button"
          class="button add-service-btn"
          data-action="click->service#toggleMenu">
    ➕ Add service
  </button>

  <!-- DROPDOWN -->
  <div class="service-dropdown hidden" data-service-target="menu">

    <% current_user.services.each do |s| %>
      <label class="service-item">

        <%= check_box_tag "service_note[service_ids][]",
            s.id,
            @selected_service_ids.include?(s.id),
            data: {
              action: "change->service#toggleService",
              price: s.price,
              name: s.name
            } %>

        <div class="service-info">
          <span><%= s.name %></span>
          <span><%= s.price %></span>
        </div>

      </label>
    <% end %>

  </div>

</div>
