// container sizes
$container-padding: 32px;
$max-container-width: 440px;

// main colors
$primary: #481f9a;
$secondary: #f5f3ff;
$inverted: #ffffff;

// form elements
$base-border-color: #88868C33;
$box-shadow-primary: 0 4px 16px 0 rgba(72, 31, 154, 0.15);

// text colors
$font-base-color: #2c2a31;
$font-secondary-color: #88868c;

// buttons
$primary-button-color: $inverted;
$primary-button-bg-color: $primary;
$primary-button-border-color: $primary;

$tertiary-button-color: $primary;


// background colors
$bg-color-main: $secondary;





