// container sizes
$container-padding: 24px;
$max-container-width: 440px;

// main colors
$primary: #481f9a;
$secondary: #f5f3ff;
$inverted: #ffffff;

$success: #228427;
$alert: #c62828;
$info: #464ad6;

// form elements
$base-border-color: #88868C33;
$box-shadow-primary: 0 4px 16px 0 rgba(72, 31, 154, 0.15);

// text colors
$font-base-color: #2c2a31;
$font-secondary-color: #88868c;

// buttons
$primary-button-color: $inverted;
$primary-button-bg-color: $primary;
$primary-button-border-color: $primary;

$secondary-button-color: $primary;
$secondary-button-bg-color: $inverted;
$secondary-button-border-color: $primary;

$tertiary-button-color: $primary;

// notices
$notice-bg-color: $inverted;
$notice-info-text-color: $info;
$notice-alert-text-color: $alert;
$notice-success-text-color: $success;

// menus
$dot-menu-color: $primary;

$icon-button-color: $primary;

$menu-bg-color: $inverted;
$menu-button-color: $font-base-color;
$menu-delete-button-color: $alert;



// background colors
$bg-color-main: $secondary;





