@media (max-width: 600px) {
  /* Селектори місяців і років */
  .litepicker select.month-item-name,
  .litepicker select.month-item-year {
    font-size: 20px;
    padding: 12px;
    height: auto;
  }

  .litepicker select.month-item-name option,
  .litepicker select.month-item-year option {
    font-size: 20px;
    padding: 10px;
  }
}
