.photo-wrapper {
    position: relative;
  }
  
  .photo-delete-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    background: rgba(255, 0, 0, 0.8);
    border: none;
    color: white;
    border-radius: 50%;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
  }
  
  .delete-all {
    background-color: #b00020;
    margin-top: 1rem;
  }
  
  .modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
  }
  
  .modal.hidden {
    display: none;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.6);
    border: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1001;
    border-radius: 50%;
  }
  
  .carousel-button.left {
    left: 1rem;
  }
  
  .carousel-button.right {
    right: 1rem;
  }
  
  .carousel-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    z-index: 1001;
    border-radius: 50%;
  }
  
  .photo-delete-btn {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
  }
  
  .photo-wrapper:hover .photo-delete-btn,
  .photo-wrapper.long-press .photo-delete-btn {
    opacity: 1;
    pointer-events: auto;
  }
  
  .upload-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 48px;

  border-radius: 12px;
  background: #1c1c1c;
  color: white;

  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;

  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 10px;
}

.upload-btn:hover {
  background: #333;
}

.upload-btn.light {
  background: #f1f1f1;
  color: #333;
}

.upload-btn.light:hover {
  background: #e5e5e5;
}

/* hidden input */
.hidden-file-input {
  display: none;
}

.photo-preview {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
}

.photos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.photos-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.photos-actions .upload-btn {
  flex: 1;
  margin-top: 0; /* прибираємо старий margin */
}