<footer class="footer">
  <%= link_to "Privacy Policy", privacy_policy_path, class: "footer-link" %> |
  <%= link_to "Terms", terms_path, class: "footer-link" %> |
  <%= link_to "About Us", about_us_path, class: "footer-link" %> |
  <span>© <%= Time.current.year %> Colorist Space. All Rights Reserved.</span>
</footer>
